{% extends 'base.html' %}
{% load static %}

{% block title %} Topic {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="row mt-5  text-center">
                <h1>{{topic.title}}</h1>
        </div>
        <div class="row">
            {{topic.description}}
        </div>
    <div class="row" style="padding: 30px; text-align: center;">
        <h5>
            Comments:
        </h5>
    </div>
    <form  class="mb-5" action="{% url 'comment_create' %}" method="POST">
        {% csrf_token %}
        {% include 'partial/form.html' with button_text='add' %}
{#        <input type="hidden" name="topic" value="{{ topic.id }}">#}
{#        <input type="hidden" name="author" value="{{ request.user.id }}">#}
    </form>
    <div class="row">
        {% for comment in topic.comment.all %}
        <div class="col-2">
            <img src="{{comment.author.profile.avatar.url}}" width="100" height="100" alt="user avatar">
            {{comment.author.username}}
        </div>
        <div class="col-10">
            <div class="row" style="margin: 15px; border: solid; border-width: 1.2px;">
                <p>{{comment.comment_text}}</p>
                <p class="gray-text">{{comment.created_at}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
